Repository physycom/DynamicalSystemFramework, pull requests merged in 2023-10, with the labels that each got.

#10 Create clang-format workflow
  .github/workflows/clang_format.yml
  src/Agent.hpp
  src/Graph.hpp
  src/Itinerary.hpp
  src/utility/HashFunctions.hpp
Labels: addition, workflow, repo

#13 Add tests for `Node` and `Street`
  .github/workflows/make_test.yml
  src/Street.hpp
  test/Makefile
  test/Test_node.cpp
  test/Test_sparsematrix.cpp
  test/Test_street.cpp
Labels: test, addition, structure

#14 Rewrite tests with CMake
  .github/workflows/cmake_test.yml
  .github/workflows/make_test.yml
  .gitignore
  test/CMakeLists.txt
  test/Makefile
  test/Node/CMakeLists.txt
  test/Node/Test_node.cpp
  test/SparseMatrix/CMakeLists.txt
  test/SparseMatrix/Test_sparsematrix.cpp
  test/Street/CMakeLists.txt
  test/Street/Test_street.cpp
  test/doctest.h
Labels: test, improve, structure, workflow

#23 Feature street missing methods
  src/Itinerary.hpp
  src/Street.hpp
  src/utility/TypeTraits.hpp
  test/Street/Test_street.cpp
Labels: test, addition, improve, structure, workflow

#26 Reorder type traits definitions and test
  src/Agent.hpp
  src/Graph.hpp
  src/Street.hpp
  src/utility/TypeTraits/is_node.hpp
  src/utility/TypeTraits/is_numeric.hpp
  src/utility/TypeTraits/is_street.hpp
  test/CMakeLists.txt
  test/TypeTraits/CMakeLists.txt
  test/TypeTraits/is_node.cpp
  test/TypeTraits/is_numeric.cpp
  test/TypeTraits/is_street.cpp
Labels: test, improve, structure, workflow, repo

#35 Improve memory management of data structure classes
  src/Agent.hpp
  src/Graph.hpp
  src/Itinerary.hpp
  src/Node.hpp
  src/Street.hpp
Labels: improve, structure, performance
