Repository physycom/DynamicalSystemFramework, pull requests merged in 2023-11, with the labels that each got.

#40 Use forwarding references in `Graph::addNodes` and `Graph::addStreets`
  src/Graph.hpp
  src/utility/TypeTraits/is_node.hpp
  src/utility/TypeTraits/is_street.hpp
Labels: improve, structure, performance

#48 Added `importAdj` function
  src/dsm/headers/Graph.hpp
  test/Graph/Test_graph.cpp
  test/data/matrix.dsm
Labels: documentation, test, addition, improve, structure

#58 Replace `unordered_set` with `unordered_map`
  src/dsm/headers/Graph.hpp
  src/dsm/utility/HashFunctions.hpp
Labels: bug, improve, structure

#60 Autogenerate graph from `importAdj`
  src/dsm/headers/Graph.hpp
  test/Graph/Test_graph.cpp
Labels: test, addition, improve, structure

#63 Combine all tests executable into a unique one
  .github/workflows/cmake_test.yml
  README.md
  test/Agent/CMakeLists.txt
  test/CMakeLists.txt
  test/Graph/CMakeLists.txt
  test/Itinerary/CMakeLists.txt
  test/Node/CMakeLists.txt
  test/SparseMatrix/CMakeLists.txt
  test/Street/CMakeLists.txt
  test/Test_graph.cpp
  test/Test_is_node.cpp
  test/Test_is_numeric.cpp
  test/Test_is_street.cpp
  test/Test_itinerary.cpp
  test/Test_node.cpp
  test/Test_sparsematrix.cpp
  test/Test_street.cpp
  test/TypeTraits/CMakeLists.txt
Labels: test, improve, workflow

#67 Update include paths in benchmark cmake files
  benchmark/Graph/CMakeLists.txt
  benchmark/Street/CMakeLists.txt
Labels: benchmark, structure

#68 Fix insertion of nodes with `addNode`
  src/dsm/headers/Graph.hpp
Labels: bug, benchmark, structure

#65 Add nodes to nodeSet when using `addStreet`
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Street.hpp
  test/Test_graph.cpp
  test/Test_street.cpp
Labels: bug, test, improve, structure

#66 Remove reference in variadic methods template constraint
  src/dsm/headers/Graph.hpp
  src/dsm/utility/TypeTraits/is_node.hpp
  src/dsm/utility/TypeTraits/is_street.hpp
  test/Test_graph.cpp
Labels: bug, improve, structure

#72 Add `insert_and_expand` function to SparseMatrix
  src/dsm/headers/Graph.hpp
  src/dsm/headers/SparseMatrix.hpp
  test/Test_sparsematrix.cpp
Labels: test, addition, improve

#75 Feature enhance exceptions
  src/dsm/headers/Agent.hpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Itinerary.hpp
  src/dsm/headers/SparseMatrix.hpp
  src/dsm/headers/Street.hpp
Labels: improve, security

#77 Add queue managemnet in Node class
  benchmark/Graph/BenchGraph.cpp
  benchmark/Street/BenchStreet.cpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Node.hpp
  src/dsm/headers/Street.hpp
  src/dsm/utility/TypeTraits/is_node.hpp
  test/Test_is_node.cpp
  test/Test_node.cpp
  test/Test_street.cpp
Labels: test, addition, improve, dynamics
