Repository physycom/DynamicalSystemFramework, pull requests merged in 2023-12, with the labels that each got.

#78 Reworked Itinerary Id
  benchmark/Street/BenchStreet.cpp
  src/dsm/headers/Agent.hpp
  src/dsm/headers/Itinerary.hpp
  test/Test_agent.cpp
  test/Test_itinerary.cpp
  test/Test_street.cpp
Labels: test, improve

#79 Changed `index` into `id`
  src/dsm/headers/Agent.hpp
  src/dsm/headers/Street.hpp
  test/Test_agent.cpp
Labels: improve

#84 Remove import of `HashFunction`
  src/dsm/dsm.hpp
Labels: bug

#85 Refactor `importAdj` function to `importMatrix`
  src/dsm/headers/Graph.hpp
  test/Test_graph.cpp
  test/data/rawMatrix.txt
Labels: test, addition, improve

#86 Feature import nodes and edges from csv
  .github/workflows/pylint.yml
  .gitignore
  requirements.txt
  src/dsm/headers/Graph.hpp
  test/Test_graph.cpp
  test/data/edges.csv
  test/data/nodes.csv
  utils/README.md
  utils/get_osm_data.py
Labels: documentation, test, addition, improve, workflow, repo

#98 Pylint action run
  .github/workflows/pylint.yml
Labels: workflow

#91 Add optional parameter to getRow and getCol functions
  src/dsm/headers/SparseMatrix.hpp
  test/Test_sparsematrix.cpp
Labels: test, improve

#106 Feature iteration over queues
  src/dsm/headers/Street.hpp
  src/dsm/utility/queue.hpp
Labels: addition, structure

#105 Re-implement codacy workflow
  .github/workflows/codacy.yml
Labels: workflow, repo, security

#103 Add an `addAgents()` overload function to dynamic class
  src/dsm/headers/Dynamics.hpp
  test/Test_dynamics.cpp
  test/Test_graph.cpp
Labels: documentation, test, improve, dynamics

#104 Optimize `updatePath()` function
  benchmark/CMakeLists.txt
  benchmark/Dynamics/BenchDynamics.cpp
  benchmark/Dynamics/CMakeLists.txt
  src/dsm/headers/Dynamics.hpp
Labels: improve, dynamics, performance

#114 Add error on observable mean measurements
  src/dsm/headers/Dynamics.hpp
  test/Test_dynamics.cpp
Labels: addition, improve
