Repository physycom/DynamicalSystemFramework, pull requests merged in 2024-03, with the labels that each got.

#141 Dynamic `setDelay` function in nodes
  CMakeLists.txt
  src/dsm/headers/Node.hpp
  test/Test_node.cpp
Labels: test, improve, priority::medium

#142 Add `importCoordinates` function to Graph class
  .clang-format
  CMakeLists.txt
  src/dsm/headers/Graph.hpp
  test/Test_graph.cpp
  test/data/coords.dsm
Labels: test, improve

#145 Add `isSpire` attribute to Street class
  CMakeLists.txt
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Street.hpp
  test/CMakeLists.txt
  test/Test_dynamics.cpp
Labels: test, addition, priority::medium

#146 Add `makeTrafficLight` function to Graph
  CMakeLists.txt
  src/dsm/headers/Graph.hpp
  test/CMakeLists.txt
  test/Test_graph.cpp
Labels: addition

#147 Rework shared to unique
  CMakeLists.txt
  profiling/CMakeLists.txt
  profiling/main.cpp
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Node.hpp
  src/dsm/headers/SparseMatrix.hpp
  src/dsm/utility/TypeTraits/is_agent.hpp
  src/dsm/utility/TypeTraits/is_itinerary.hpp
  src/dsm/utility/TypeTraits/is_node.hpp
  src/dsm/utility/TypeTraits/is_numeric.hpp
  src/dsm/utility/TypeTraits/is_street.hpp
  test/CMakeLists.txt
  test/Test_dynamics.cpp
  test/Test_graph.cpp
  test/Test_is_node.cpp
  test/Test_is_street.cpp
Labels: improve, structure, dynamics, performance, priority::high

#148 Add `SpireStreet` class
  CMakeLists.txt
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Node.hpp
  src/dsm/headers/Street.hpp
  test/CMakeLists.txt
  test/Test_dynamics.cpp
  test/Test_graph.cpp
  test/Test_street.cpp
Labels: test, addition, dynamics, priority::high, check required

#165 Rework `streetMeanSpeed`
  CMakeLists.txt
  src/dsm/headers/Dynamics.hpp
  test/CMakeLists.txt
Labels: improve

#163 Refactor getters and setters
  CMakeLists.txt
  src/dsm/headers/Agent.hpp
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Itinerary.hpp
  src/dsm/headers/Node.hpp
  src/dsm/headers/SparseMatrix.hpp
  src/dsm/headers/Street.hpp
  test/CMakeLists.txt
Labels: code refactoring
