Repository physycom/DynamicalSystemFramework, pull requests merged in 2024-02, with the labels that each got.

#121 Add TrafficLight derived class
  src/dsm/headers/Node.hpp
  test/Test_node.cpp
Labels: documentation, test, addition, improve, dynamics

#124 Add `Logger` struct
  src/dsm/headers/Agent.hpp
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Node.hpp
  src/dsm/headers/SparseMatrix.hpp
  src/dsm/headers/Street.hpp
  src/dsm/utility/Logger.hpp
Labels: addition, improve, priority::low

#125 Update doxygen
  .github/workflows/gh-pages.yml
Labels: documentation, improve, repo

#122 First prototype of working dynamics
  src/dsm/dsm.hpp
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Node.hpp
  src/dsm/headers/Street.hpp
  test/CMakeLists.txt
  test/Test_dynamics.cpp
  test/Test_graph.cpp
  test/data/rawMatrix.dat
Labels: documentation, test, addition, improve, dynamics, priority::medium, PREVIEW

#128 Add `distance` parameter to Agent
  README.md
  src/dsm/headers/Agent.hpp
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Graph.hpp
  src/dsm/headers/Itinerary.hpp
  src/dsm/headers/Node.hpp
  src/dsm/headers/SparseMatrix.hpp
  src/dsm/headers/Street.hpp
  src/dsm/utility/DijkstraResult.hpp
  src/dsm/utility/TypeTraits/is_agent.hpp
  src/dsm/utility/TypeTraits/is_itinerary.hpp
  src/dsm/utility/TypeTraits/is_node.hpp
  test/CMakeLists.txt
  test/Test_dynamics.cpp
Labels: test, addition, dynamics, priority::medium

#131 Add profiling of execution and memory usage
  .github/workflows/profile_exec_time.yml
  .github/workflows/profile_mem_usage.yml
  .gitignore
  profiling/CMakeLists.txt
  profiling/main.cpp
  profiling/parse_massif.cpp
Labels: workflow, performance

#132 Feature rework observable getters
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Node.hpp
  test/CMakeLists.txt
  test/Test_dynamics.cpp
Labels: documentation, test, addition, improve, priority::high

#133 Add `exportMatrix` method
  .gitignore
  CMakeLists.txt
  src/dsm/headers/Dynamics.hpp
  src/dsm/headers/Graph.hpp
  test/Test_dynamics.cpp
  test/Test_graph.cpp
Labels: test, addition
